<div class="info">
 <h2>User info</h2>
   <p><%image_tag user.get_profile_image(100,100) %></p>

<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
</div>

<div class="row">
  <%= link_to "edit", edit_user_path(user.id) %>
</div>

<%= form_with model: book, method: :post do |f| %>
 <h2>New book</h2>
  <div class="form-group">
   <label for="book title">Title</label>
  </div>
    <%= f.text_field :title %>

  <div class="form-group">
   <label for="book-body">Opinion</label>
  </div>
   <%= f.text_field :body %>

  <div class="form-group">
   <%= f.submit 'Create Book' %>
  </div>
<% end %>